<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="../Content/css/materialize.min.css">
  <link rel="stylesheet" href="../Content/css/estilo2.css">  
  <link rel="icon" type="image/png" href="../Content/img/favicon.png" />
  <link rel="stylesheet" href="../Content/css/estiloParaElSearch.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../Content/css/sweetalert.css">  
  <script type="text/javascript" src="../Content/js/sweetalert.min.js"></script>
  <title>Add new user</title>
</head>
<body>

<!-- Codigo para el Navbar-->
<nav class="#212121 grey darken-4">
  <div class="nav-wrapper">
    <div class="container">
      <a href="../Main/main" class="brand-logo"><img src="../Content/img/prueba.png" alt="" class="img-responsive"></a>
    </div>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a  href="../Home/Index">Log Out</a></li>
     </ul>
  </div>
</nav>
<!--Fin Codigo para el Navbar-->

<!-- Inicio de codigo del formulario -->
  <div class="container">
    <br><br><br><br><br>
       @{
           string mensaje = "";
           int nivelmensaje = 0;

           if (ViewData["Mensaje"] != null && ViewData["NivelMensaje"] != null)
           {
               mensaje = (string)ViewData["Mensaje"];
               nivelmensaje = (int)ViewData["NivelMensaje"];
           }

           if (nivelmensaje == 2)
           {
           <script>swal({
           title: "Good Job!",
           text: "User added successfully!",
           type: "success",
           timer: 5000
           })
           </script>                                                                                                         
           }
           else
               if (nivelmensaje == 3)
               {
             <script>swal({
             title: "Oops...",
             text: "Error in inserting!",
             type: "error",
             timer: 5000
             })
             </script>          
               }
               else
                   if (nivelmensaje == 4)
                   {
             <script>swal({
             title: "Oops...",
             text: "File extension not allowed!",
             type: "error",
             timer: 5000
             })
             </script>          
                   }
                   else
                       if (nivelmensaje == 5)
                       {
             <script>swal({
             title: "Oops...",
             text: "You must select a role for the user!",
             type: "error",
             timer: 5000
             })
             </script>          
                       }
                       else
                           if (nivelmensaje == 6)
                           {
             <script>swal({
             title: "Oops...",
             text: "The user can not have more than 3 roles in the system!",
             type: "error",
             timer: 5000
             })
             </script>          
                           }                         
       }

      <div class="row">
        <div class="col s10">

<!-- Codigo que mostrata el boton de navegacion para regresar a la pantalla principal-->
          <div class="row">
            <div class="col s5">
              <a class="waves-effect waves-light btn" href="../BackEnd/MainBackEnd">Back Panel Administration</a>
            </div>

            <div class="col s3 push-s2">
                <div class="input-field">
                    <input id="search" type="search" onKeyUp ="ajax(this.value)">
                    <label for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </div>    
             
<!-- Codigo que mostrata el boton de navegacion para regresar a la pantalla principal-->

<!-- Fin Codigo que mostrata el boton de navegacion para regresar a la pantalla principal-->
        <form method="POST" action="../BackEnd/agregarUsuario"  onsubmit='return validar()' enctype="multipart/form-data">
<!-- Codigo que mostrata ela creacion de un nuevo contrato-->
          <div class="row">
            <div class="col s10">
              <h6 style="text-align:center;background-color:#000000; color:#ffffff;">Creating a new user</h6>
            </div>
          </div>
<!-- Codigo que mostrata la creacion de un nuevo contrato-->

<!-- Codigo que mostrara nombre del contrato-->
          <div class="row">
            <div class="input-field col s5">
              <label for="Name" class="flow-text">Name<span style="color:red;"> *</span></label>
              <input type="text" id="Name" name="Name" required>
            </div>

<!-- Codigo que mostrara nombre del contrato-->
            <div class="input-field col s5">
              <input id="last_name" type="text" name="last_name"  required>
              <label for="last_name" class="flow-text">Last name<span style="color:red;"> *</span></label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s5">
              <input id="phone" type="text" name="phone" pattern="[0-9+-\s]{8,20}" title="No letters are allowed in this field">                         
              <label for="phone" class="flow-text">Phone</label>
            </div>

            <div class="input-field col s5">
              <input id="email" type="email" name="email"  required placeholder="laureate@laureate.com">
                <label for="email" class="flow-text">Mail<span style="color:red;"> *</span></label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s10">
              <select id="charge_within_the_system" name="charge_within_the_system" multiple>
                <option value="" disabled selected class="flow-text">Select</option>
                @{
                    if ((int)ViewData["permisos"] == 1)
                    {
                        List<string> perfiles = (List<string>)ViewData["perfiles"];
                        int contador = 1;
                        foreach (string perfil in perfiles)
                        {                        
                           <option value="@contador" class="flow-text">@perfil</option>
                            contador++;
                        }                     
                    }
                    else
                      if ((int)ViewData["permisos"] == 2)
                      {
                        List<string> perfiles = (List<string>)ViewData["perfiles"];
                        int contador = 1;
                        foreach (string perfil in perfiles)
                        {      
                            
                           if(contador ==5 || contador == 6)
                           {
                             <option value="@contador" class="flow-text">@perfil</option>
                             contador++;
                           }
                           
                           else
                           {
                               contador++;
                           }                                                                       
                        }                     
                      }
                     else
                      if ((int)ViewData["permisos"] == 3)
                      {
                        List<string> perfiles = (List<string>)ViewData["perfiles"];
                        int contador = 1;
                        foreach (string perfil in perfiles)
                        {      
                            
                           if(contador ==5 || contador == 7)
                           {
                             <option value="@contador" class="flow-text">@perfil</option>
                             contador++;
                           }
                           
                           else
                           {
                               contador++;
                           }                                                                       
                        }                     
                      }
                      
                    else
                      if ((int)ViewData["permisos"] == 4)
                      {
                        List<string> perfiles = (List<string>)ViewData["perfiles"];
                        int contador = 1;
                        foreach (string perfil in perfiles)
                        {      
                            
                           if(contador ==5 || contador == 8)
                           {
                             <option value="@contador" class="flow-text">@perfil</option>
                             contador++;
                           }
                           
                           else
                           {
                               contador++;
                           }                                                                       
                        }                     
                      }                                       
                 }
             </select>
              <label class="flow-text">Position within the system<span style="color:red;"> *</span></label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s5">
              <input id="Code_User" type="text" name="Code_User"  >
                <label for="username" class="flow-text">User code</label>
            </div>

            <div class="input-field col s5">
              <input id="username" type="text" name="username" required>
                <label for="username" class="flow-text">Username<span style="color:red;"> *</span></label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s5">
              <input id="password" type="password" name="password"   pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="La contraseña debe tener minimo 8 caracteres, y al menos 1 letra mayuscula, 1 letra minuscula, 1 caracter especial o numero " required> <!-- pattern="[A-Za-z0-9!?-]{8,12}"--> 
                <label for="password" class="flow-text">Password<span style="color:red;"> *</span></label>
            </div>


            <div class="input-field col s5">
              <input id="verify_password" type="password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="La contraseña debe tener minimo 8 caracteres, y al menos 1 letra mayuscula, 1 letra minuscula, 1 caracter especial o numero " required>
                <label for="verify_password" class="flow-text">Enter Password again<span style="color:red;"> *</span></label>
            </div>
          </div>

          <div class="row">
            <div class="col s10">
              <div class="file-field input-field">
                <div class="btn">
                  <span>Image</span>
                    <input type="file" name="imagen">
                </div>

              <div class="file-path-wrapper">
                <input class="file-path validate" name="imagen" type="text" placeholder="Upload a picture displayed on the user's profile">
              </div>
            </div>
          </div>
          </div>

<br><br>
          <div class="row">
            <center>
              <div class="col s5 ">
                 <a class="waves-effect waves-light btn" href="../BackEnd/ModificarBorrador">Return to Drafts</a>
              </div>

              <div class="col s3 ">
                <input class="waves-effect waves-light btn" type ="submit" value ="Save">
              </div>
            </center>
          </div>
        </form>
            </div>
            

        </div>
        <div class="col s2 card-panel teal lighten-2">
          <center><h5>User registration</h5></center>
            <p ALIGN=justify>This is the first step in order to use the system. You won´t be able to access the site without creating a user.
               <br /><br />All users created in the system should have a specific role, which will determine what actions they can or cannot perform.</p>
        </div>

</div>
   </div>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="../Content/js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="../Content/js/materialize.min.js"></script>

<!--Script para el select-->
  <script>
    $(document).ready(function() {
    $('select').material_select();
    });
    </script>
  <!--Fin Script para el select-->

<!--Script para cargar por medio de ajax los productos, esto se hace asi porque solo se deben mostrar los productos especificos de un proveedor, no todos los productos
    y como la seleccion del proveedor se hace en tiempo se ejecucion, por medio de una llamada asincrona se deben de ir a realizar la consulta y retornar los productos-->
   <script type="text/javascript">

       function ajax(user) {
           if (user != "" ) {
               //$.get("http://172.20.33.13/BackEnd/searchUser",
               $.get("http://localhost:62884/BackEnd/searchUser",
                {
                    'user': user,
                },
                  function (data) {
                      if (data.length != 0) {                         
                          var userData = [];
                          var fullname = [];

                          userData = data.split("|");
                          fullname = userData[0].split(" ");

                          document.getElementById("Name").value = fullname[0];
                          document.getElementById("last_name").value = fullname[1];
                          document.getElementById("username").value = userData[1];
                          document.getElementById("email").value = userData[2];
                          document.getElementById("password").value = userData[3];
                          document.getElementById("verify_password").value = userData[3];

                          document.getElementById("Name").readOnly = true;
                          document.getElementById("last_name").readOnly = true;
                          document.getElementById("username").readOnly = true;
                          document.getElementById("email").readOnly = true;
                          document.getElementById("password").readOnly = true;
                          document.getElementById("verify_password").readOnly = true;
                          Materialize.updateTextFields();
                      }       
                  }
                );
           }
       }
	</script> 
<!--Fin Script para cargar por medio de ajax los productos, esto se hace asi porque solo se deben mostrar los productos especificos de un proveedor, no todos los productos
    y como la seleccion del proveedor se hace en tiempo se ejecucion, por medio de una llamada asincrona se deben de ir a realizar la consulta y retornar los productos-->



<script type='text/javascript'>
function validar()
{
  /*creo una variable de tipo booleana que en principio tendrá un valor true(verdadero),
y que retornaremos en false(falso) cuando nuestra condición no se cumpla*/
var todo_correcto = true;

if(document.getElementById('Name').value.length =='' )
{
    todo_correcto = false;
}

/*Hacemos lo mismo con el campo dirección. En este caso le pediremos al usuario que
introduzca al menos 10 caracteres.*/
if(document.getElementById('last_name').value.length =='' )
{
    todo_correcto = false;
}

/*Para validar el select debemos añadir un value distinto a cada option. En el
código, he asignado un value con  valor vacío al primer option. Los siguientes,
al no estar definidos toman el valor por defecto. Por tanto, si todos tienen value,
lo único que tenemos que comprobar es que este no sea vacío. Si es vacío, todo_correcto
será false.*/
if(document.getElementById('email').value == '')
{
    todo_correcto = false;
}

/*if (document.getElementsByName("charge_within_the_system")[0].value == "") {
    todo_correcto = false;
    swal({
        title: "Oops...",
        text: "charge_within_the_system field is required, check them again!",
        type: "error",
        timer: 5000
    })
    return todo_correcto;
}*/


if(document.getElementById('username').value == '')
{
    todo_correcto = false;
}

if(document.getElementById('password').value.length== '' )
{
    todo_correcto = false;
}

if(document.getElementById('verify_password').value.length== '' )
{
    todo_correcto = false;
}


if(document.getElementById('password').value != document.getElementById('verify_password').value)
{
    swal({
        title: "Oops...",
        text: "Passwords must match!",
        type: "error",
        timer: 5000
    })
    todo_correcto = false;
}
/*Por último, y como aviso para el usuario, si no está todo bién, osea, si la variable
todo_correcto ha devuelto false al menos una vez, generaremos una alerta advirtiendo
al usuario de que algunos datos ingresados no son los que esperamos.*/
if(!todo_correcto)
{
    swal({
        title: "Oops...",
        text: "Some fields are not correct or are incomplete, check them again!",
        type: "error",
        timer: 5000
    })
}

  return todo_correcto;
}

</script>
</body>
</html>
